.menu {
    background-color: #636666;
    position: fixed;
    height: auto; 
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10%;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 50%;

}

.nav-link {
    color:white;
    text-decoration: none;
}

.titulo {
    font-size: 200%;
    color: #76D7C4;
    padding: 1% 15%;
}

.nav-menu{
    display: flex;
    font-size: 150%;
    list-style: none;
}

.nav-menu-item {
    margin: 5% 10%;
    width: max-content;
}

.nav-link:hover {
    padding: 12px 1px;
    background-color: #76D7C4;
    transition: 0.1s;
}

#saludo {
  padding-top: 15%;
  text-align: center;
    
}

#contacto {
    padding-left: 3%;
    padding-top: 10%;
}

#frame1 {
    margin-right: 3%;
    background-color: #94b8b8;
    padding: 1% 1%;
    border-radius: 20px;
}

#frame2 {
    margin-right: 3%;
    background-color: #5c8a8a;
    padding: 1% 1%;
    border-radius: 20px;
}

.form-submit {
    margin-left: 2%;
}

.form {
    margin-left:5%;
    padding-bottom: 1%;
    color: white;
}

#tituloProd {
    padding-top: 1%;
    margin-top: 15%;
    margin-left: 2%;
    color: #66ccff;
}

#backgroundIn{
    margin-right: 3%;
    margin-left: 3%;
    background-color: #334d4d;
    border-radius: 20px;
}
