<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css"/>
    <tittle>The Rumbling</tittle>
</head>
<body>
    <header th:replace="layout/plantilla :: menu"></header>
    <div id="saludo">
        <h2>Bienvenidos a la tienda <span style="color:#0D735F"><u>The Rumbling!</u></span></h2>
        <h2>Acá encontrará todos los Electrónicos y Hardware que necesita!</h2>
        <img th:src="@{/images/icono.jpg}" alt=""/>
</body>
</html>
